name: Release
# Based on https://github.com/astral-sh/trusted-publishing-examples/blob/main/.github/workflows/release.yml

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.14
        run: uv python install 3.14
      - name: Build
        run: uv build
      - name: Install dependencies
        run: uv sync --group dev
      - name: Test
        run: uv run pytest -m ""
      - name: Publish
        run: uv publish